ul.items{
	padding:0;
	margin:0;
}

ul.items li{
	list-style-type:none;
	margin:5px 0;
	display:block;
}

ul.items li a{
	display:block;
	border:1px solid #18293B;
	text-decoration:none;
	color:#000;
	padding:10px;
}

ul.items li a img{
	display:block;
	float:left;
	width:100px;
}

ul.items li a p{
	display:block;
	float:left;
	margin:0;
	padding:0 10px;
	
}

ul.items li a p strong{
	display:block;
	font-size:110%;
	
}

ul.items li a p span{
	font-style:italic;
	color:#3B0A03;
}

ul.items li a em.price{
	display:block;
	float:right;
	font-weight:bold;
	text-align:right;
	font-size:200%;
	background-color:#18293B;
	color:#FFFBFF;
	padding:5px 10px;
	font-style:normal;
}

ul.items li a:hover em.price{
	font-size:220%;	
}


