body{
	font-family:sans-serif;
	font-size:12pt;
	color:#18293B;
	margin:0;
	padding:10px;
	background:url(../img/bg_body.png) left bottom repeat-x #FFF fixed;
}

#container{
	background:url(../img/bg_container.png) left center repeat-y #FFF;
	border:1px solid #5B5A56;
	width:950px;
	margin:0 auto;
	padding:15px;
}

h1{
	font-style:italic;
	font-size:250%;
	background:url(../img/logo.png) left center no-repeat transparent;
	padding:40px 10px 40px 150px;
	text-transform:uppercase;
	margin:0px;	
}

h1 a{
	text-decoration:none;
	color:#5B5A56;
}

h1 a:hover{
	color:#18293B;	
}